body{
	background-color: #FBF5EF;
}

#loading-data{
	color: #AAB8C2;
}

.micropost-content-button > div {
	display: inline;
	margin-right: 15px;
	margin-left: 15px;
}

.micropost-content-button > div > button{
	border: 0;
	color: #AAB8C2;
	background: transparent;
	font-size: 1.5em;
	border-width: 0px;
	outline:none;
}

.micropost-content-button > div > .delete-micropost-favorite-button{
	color: #FC0F0F;
}

.micropost-replay-button:hover{
	color: #35CCF8;
}

.micropost-favorite-button:hover{
	color: #FC0F0F;
}

.micropost-retweet-button:hover{
	color: #0AF863;
}